<h1>Demos#index</h1>
<p>Find me in app/views/demos/index.html.erb</p>
<h1>hello coding dojo!</h1>
<a href="/say/hello">tap here to go the next page</a>
<form  action="/say/hello/:id" method="post">
  <input type="text" name="name" placeholder="name">
  <button type="submit">submit</button>
</form>
